<app-navbar></app-navbar>

<main
    class="container min-h-[calc(100vh_-_var(--header-height)_-_var(--footer-height))] max-w-screen-xl mx-auto px-4 py-8 space-y-6">
    @if (!cart() || (cart()?.items ?? []).length === 0) {
    <div class="flex flex-col items-center justify-center text-center py-20 px-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-28 w-28 text-gray-400 mb-6" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" stroke-width="1.5">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.436m0 0L6.75 14.25h10.5l1.766-7.143a1.125 1.125 0 00-1.088-1.387H5.106m0 0L4.5 3m4.5 15.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm9 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
        <h2 class="text-2xl font-semibold mb-3">
            Your cart is empty
        </h2>
        <p class="text-gray-500 max-w-md mb-8">
            It looks like you haven't added anything to your cart yet.
            Browse our products and find something you like.
        </p>
        <a href="/products"
            class="cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive text-neutral-50 shadow-xs px-5 py-2.5 has-[&gt;svg]:px-3 bg-gray-900 hover:bg-primary/90">
            Browse Products
        </a>

    </div>

    } @else {
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div class="lg:col-span-2">
            <div class="bg-card border-gray-200 rounded-lg border p-6">
                <h1 class="mb-6 text-2xl font-semibold">Shopping Cart</h1>
                @if (cart()) {
                <div class="space-y-4">
                    @for (item of cart()?.items; track item.book.id) {
                    <div class="bg-cart-item border-gray-200 flex items-center gap-4 rounded-lg border p-4">
                        <div class="flex h-16 w-16 flex-shrink-0 items-center justify-center rounded-lg">
                            <img [src]="item.book.image ? item.book.image : 'https://placehold.co/600x400?text='"
                                alt="Samsung Galaxy S23 Ultra S918B/DS 256GB"
                                class="h-full w-full rounded-lg object-contain">
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-foreground line-clamp-2 text-sm font-medium lg:text-base">
                                {{ item.book.title }}
                            </h3>
                        </div>
                        <div class="bg-cart-quantity flex items-center gap-2 rounded-lg p-1">
                            <button
                                class="cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:text-accent-foreground dark:hover:bg-accent/50 size-9 hover:bg-muted h-8 w-8">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-minus h-4 w-4">
                                    <path d="M5 12h14"></path>
                                </svg>
                            </button>
                            <span class="min-w-[2rem] text-center text-sm font-medium">{{ item.quantity }}</span>
                            <button data-slot="button"
                                class="cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:text-accent-foreground dark:hover:bg-accent/50 size-9 hover:bg-muted h-8 w-8"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-plus h-4 w-4">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5v14"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="text-cart-price min-w-[80px] text-right text-sm font-semibold lg:text-base">
                            {{ item.book.price | currency:'EUR' }}
                        </div>
                        <button (click)="removeItem(item.book.id)"
                            class="cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:hover:bg-accent/50 size-9 text-muted-foreground hover:text-destructive hover:bg-destructive/10 h-8 w-8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-trash2 lucide-trash-2 h-4 w-4">
                                <path d="M3 6h18"></path>
                                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                                <line x1="10" x2="10" y1="11" y2="17"></line>
                                <line x1="14" x2="14" y1="11" y2="17"></line>
                            </svg>
                        </button>
                    </div>
                    } @empty {
                    <div>empty ...</div>
                    }
                </div>
                }
            </div>
            <div class="mt-6 flex flex-col gap-4 sm:flex-row">
                <button data-slot="button"
                    class="cursor-pointer justify-center whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive border bg-background shadow-xs hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50 h-9 px-4 py-2 has-[&gt;svg]:px-3 flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-left h-4 w-4">
                        <path d="m12 19-7-7 7-7"></path>
                        <path d="M19 12H5"></path>
                    </svg>
                    Back
                </button>
                <button data-slot="button"
                    class="cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive text-white shadow-xs focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60 h-9 px-4 py-2 has-[&gt;svg]:px-3 bg-destructive hover:bg-destructive/90">
                    Cancel Order
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <div class="bg-card border border-gray-200 rounded-lg p-6">
                <h2 class="mb-4 text-xl font-semibold">Coupon Code</h2>
                <div class="space-y-4">
                    <input data-slot="input"
                        class="file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input border-gray-200 flex w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] h-12"
                        placeholder="Enter Your Coupon Code" value=""><button data-slot="button"
                        class="cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive text-neutral-50 shadow-xs px-4 py-2 has-[&gt;svg]:px-3 bg-gray-900 hover:bg-primary/90 h-12 w-full">
                        Apply Your Coupon
                    </button>
                </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-6">
                <h2 class="mb-6 text-xl font-semibold">Order Summary</h2>
                <div class="space-y-4">
                    <div class="flex items-center justify-between">
                        <span class="text-muted-foreground">Discount</span>
                        <span class="font-medium">{{0.00 | currency:'EUR'}}</span>
                    </div>
                    <!-- <div class="flex items-center justify-between">
                        <span class="text-muted-foreground">Delivery</span>
                        <span class="font-medium">$29.99</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-muted-foreground">Tax</span>
                        <span class="font-medium">$39.99</span>
                    </div> -->
                    <hr class="border-gray-200">
                    <div class="flex items-center justify-between"><span class="text-lg font-semibold">Total</span>
                        <span class="text-xl font-bold">{{ getTotal() | currency:'EUR' }}</span>
                    </div>
                </div>
            </div>
            <a routerLink="/checkout"
                class="cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive text-neutral-50 shadow-xs px-4 py-2 has-[&gt;svg]:px-3 bg-gray-900 hover:bg-primary/90 h-12 w-full">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="h-4 w-4">
                    <path d="M20 6 9 17l-5-5" />
                </svg>
                Proceed to checkout
            </a>
        </div>
    </div>
    }
</main>

<app-footer></app-footer>