spring:
  application.name: bookService
  datasource:
    url: jdbc:postgresql://localhost:${BOOK_SERVICE_DB_PORT:5437}/${BOOK_SERVICE_DB_NAME:books_db}
    username: ${BOOK_SERVICE_DB_PASSWORD:postgres}
    password: ${BOOK_SERVICE_DB_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8088/realms/ecom

imgbb:
  api-key: ${IMGBB_API_KEY:bb9f543cd4f7839a528f7ae45364dafc}

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://eureka:eureka@localhost:8761/eureka/

server:
  port: 0
  compression:
    enabled: true

---
spring:
  config:
    activate:
      on-profile: docker

spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: WARN
    com.ecom.bookService: INFO

server:
  port: 8080