spring:
  application.name: bookService
  jpa:
    hibernate:
      ddl-auto: create-drop


eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://eureka:eureka@localhost:8761/eureka/

server:
  port: 0
  compression:
    enabled: true