/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
/* @plugin "flowbite-typography"; */
@source "../node_modules/flowbite";

:root {
    --header-height: 60px;
    --footer-height: 80px;
}

@theme {
    --radius: .625rem;
    --color-background: oklch(100% 0 0);
    --color-foreground: oklch(14.5% 0 0);
    --color-cart: oklch(100% 0 0);
    --color-cart-foreground: oklch(14.5% 0 0);
    --color-cart-border: oklch(92.2% 0 0);
    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(14.5% 0 0);
    --color-primary: oklch(20.5% 0 0);
    --color-primary-foreground: oklch(98.5% 0 0);
    --color-secondary: oklch(97% 0 0);
    --color-secondary-foreground: oklch(20.5% 0 0);
    --color-muted: oklch(97% 0 0);
    --muted-foreground: oklch(55.6% 0 0);
    --color-accent: oklch(97% 0 0);
    --color-accent-foreground: oklch(20.5% 0 0);
    --color-destructive: oklch(57.7% .245 27.325);
    --color-border: oklch(92.2% 0 0);
    --color-input: oklch(92.2% 0 0);
    --color-ring: oklch(70.8% 0 0);
    --chart-1: oklch(64.6% .222 41.116);
    --chart-2: oklch(60% .118 184.704);
    --chart-3: oklch(39.8% .07 227.392);
    --chart-4: oklch(82.8% .189 84.429);
    --chart-5: oklch(76.9% .188 70.08);
    --sidebar: oklch(98.5% 0 0);
    --sidebar-foreground: oklch(14.5% 0 0);
    --sidebar-primary: oklch(20.5% 0 0);
    --sidebar-primary-foreground: oklch(98.5% 0 0);
    --sidebar-accent: oklch(97% 0 0);
    --sidebar-accent-foreground: oklch(20.5% 0 0);
    --sidebar-border: oklch(92.2% 0 0);
    --sidebar-ring: oklch(70.8% 0 0)
}