spring.application.name: cart-service

spring:
  datasource:
    url: jdbc:postgresql://localhost:${CART_SERVICE_DB_PORT:5433}/${CART_SERVICE_DB_NAME:carts_db}
    username: ${CART_SERVICE_DB_PASSWORD:postgres}
    password: ${CART_SERVICE_DB_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8088/realms/ecom

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://eureka:eureka@localhost:8761/eureka/

server:
  port: 0
  compression:
    enabled: true


---
spring:
  config:
    activate:
      on-profile: docker
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8088/realms/ecom}

logging:
  level:
    root: WARN
    com.ecom.cart: INFO

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://eureka:eureka@registry-server:8761/eureka/}