spring:
  application.name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOriginPatterns:
                  - "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders:
                  - "*"
                allowCredentials: true
#          default-filters:
#            - TokenRelay
          routes:
          - id: order-service
            uri: lb://order-service
            predicates:
              - Path=/api/orders/**
            filters:
              - TokenRelay
              - RemoveRequestHeader=Cookie

          - id: book-service
            uri: http://bookService
            predicates:
              - Path=/api/books/**, /api/inventory/**
            filters:
              - RewritePath=/api/?(?<segment>.*), /api/v1/$\{segment}
              - RemoveRequestHeader=Cookie

          - id: review-service
            uri: lb://review-service
            predicates:
              - Path=/reviews/**
            filters:
              - RemoveRequestHeader=Cookie

          - id: customer-registration
            uri: lb://customer-service
            predicates:
              - Path=/register
            filters:
              - RewritePath=/register, /api/v1/register
              - RemoveRequestHeader=Cookie

          - id: customer-service
            uri: lb://customer-service
            predicates:
              - Path=/api/customers/**
            filters:
              - RewritePath=/api/customers/?(?<segment>.*), /api/v1/customers/$\{segment}
              - RemoveRequestHeader=Cookie

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://eureka:eureka@localhost:8761/eureka/

spring.security:
  oauth2:
    resourceserver:
      jwt:
        issuer-uri: http://localhost:8088/realms/ecom

logging:
  level:
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: TRACE