spring:
  application.name: api-gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: product-service
              uri: lb://product-service
              predicates:
                - Path=/products/**
              filters:
                - RemoveRequestHeader=Cookie
            - id: review-service
              uri: lb://review-service
              predicates:
                - Path=/reviews/**
              filters:
                - RemoveRequestHeader=Cookie

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://eureka:eureka@localhost:8761/eureka/

logging:
  level:
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: TRACE