spring:
  application.name: order-service

  datasource:
    url: jdbc:postgresql://localhost:${ORDER_SERVICE_DB_PORT:5436}/${ORDER_SERVICE_DB_NAME:orders_db}
    username: ${ORDER_SERVICE_DB_PASSWORD:postgres}
    password: ${ORDER_SERVICE_DB_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: update

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8088/realms/ecom

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://eureka:eureka@localhost:8761/eureka/

server:
  port: 0
  compression:
    enabled: true

---
spring:
  config:
    activate:
      on-profile: docker

spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: WARN
    com.ecom.order: INFO

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://eureka:eureka@registry-server:8761/eureka/}

security:
  oauth2:
    resourceserver:
      jwt:
        issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8088/realms/ecom}