<footer class="bg-gray-100 border-t border-gray-200">
    <div
        class="max-w-screen-xl mx-auto p-6 md:py-8 h-[var(--footer-height)] flex flex-col md:flex-row md:justify-between items-center">
        <a routerLink="/" class="flex items-center mb-4 md:mb-0 space-x-2">
            <img src="assets/logo.png" class="h-8" />
            <span class="self-center text-2xl font-semibold text-blue-700">Logo</span>
        </a>

        <ul class="flex flex-wrap items-center text-sm font-medium text-gray-600 space-x-6">
            <li>
                <a routerLink="/products" class="hover:text-blue-700">Produits</a>
            </li>
            <li>
                <a routerLink="/categories" class="hover:text-blue-700">Categories</a>
            </li>
            <li>
                <a routerLink="/contact" class="hover:text-blue-700">Contact</a>
            </li>
            <li>
                <a routerLink="/support" class="hover:text-blue-700">Support</a>
            </li>
        </ul>
    </div>
</footer>