name: Build & Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  backend_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: '21'
      - name: Build with Maven
        run: |
          mvn -B package --file backend/customer-service/pom.xml
          mvn -B package --file backend/cart-service/pom.xml