name: Build & Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  backend_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build with Maven
        run: |
          mvn -B package --file backend/customer-service/pom.xml
          mvn -B package --file backend/cart-service/pom.xml
          mvn -B package --file backend/order/pom.xml
          mvn -B package --file backend/notification/pom.xml
          mvn -B package --file backend/bookService/pom.xml

  frontend_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      - run: npm ci
        working-directory: frontend
      - run: npm run test:ci
        working-directory: frontend